<div class="center jumbotron">
  <h1>Welcome to Ironworkers Ltd</h1>

  <h2>
    Ironworkers uses only the best quality materials. Read more on this 
    <%= link_to "here", about_path %>
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>


