// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.gap-between-pic-and-description{
  margin-left: 50px;
  
   padding:1px;
   border:1px solid #545454;
   background-color: #d7d7d7;

}

.image-products-show{
  margin-left: 50px;
}


.gap-between-each-product{
     margin-bottom: 5px;
  
  img { 
   padding:1px;
   border:1px solid #545454;
  }
}




