<footer class="footer">
  <small>
    The <a href="https://www.google.ie/maps/@41.574155,-87.273284,3a,75y,168.5h,73.17t/data=!3m4!1e1!3m2!1sJFrsNv_uvqX_f3Em7oQ-IQ!2e0!6m1!1e1">Ironworkers</a>
    are located <a href="https://www.google.ie/maps/@41.574155,-87.273284,3a,75y,168.5h,73.17t/data=!3m4!1e1!3m2!1sJFrsNv_uvqX_f3Em7oQ-IQ!2e0!6m1!1e1">here</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer> 